<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="hibernate35"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hibernate35"/>
<stringAttribute key="org.hibernate.eclipse.launch.CFG_XML_FILE" value="/hibernate35/src/hibernate.cfg.xml"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="CORE"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS">
<listEntry value="/hibernate35/src/org/diagram/Actor.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Address.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Category.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/City.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Country.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Customer.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Customers.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Dog.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Employees.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Event.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Film.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/FilmActor.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/FilmCategory.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/FilmText.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Inventory.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Kunde.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Language.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Offices.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Orderdetails.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Orders.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Passwordattributes.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Passwordresourceauditlog.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Payment.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Payments.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Productlines.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Products.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Rental.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Staff.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Store.hbm.xml"/>
</listAttribute>
<stringAttribute key="org.hibernate.eclipse.launch.HIBERNATE_VERSION" value="3.5"/>
</launchConfiguration>
