<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="clean process-resources"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="jbosstools.test.jboss-epp-4.3.home=${folder_prompt:EPP 4.3 installation directory}"/>
<listEntry value="jbosstools.test.jboss-epp-5.1.home=${folder_prompt:EPP 5.2 installation directory}"/>
<listEntry value="jbosstools.test.jboss-gatein.home=${folder_prompt:GateIn 3.1 installation directory}"/>
<listEntry value="jbosstools.test.jboss-seam-2.2.home=${folder_prompt:Seam 2.2 installation directory}"/>
<listEntry value="jbosstools.test.jboss-portal.home=${folder_prompt:JBoss Portal 2.7 installation directory}"/>
<listEntry value="jbosstools.test.jboss-seam-2.0.home=${folder_prompt:Seam 2.0 installation directory}"/>
<listEntry value="jbosstools.test.jboss-portlet-bridge.home=${folder_prompt:JBoss Portlet Bridge installation directory}"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="/home/ljelinko/programs/apache-maven-3.0.3"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}/org.jboss.tools.portlet.ui.bot.test/launchers/prepare_workspace"/>
</launchConfiguration>
