<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="clean process-resources"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="jbosstools.test.jboss-eap-6.home=${folder_prompt:EAP 6 installation directory}"/>
<listEntry value="jbosstools.test.jboss-eap-5.home=${folder_prompt:EAP 5 installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-7.1.home=${folder_prompt:JBoss AS 7.1 installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-7.0.home=${folder_prompt:JBoss AS 7.0 installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-6.x.home=${folder_prompt:JBoss AS 6.x installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-5.1.home=${folder_prompt:JBoss AS 5.1 installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-4.2.home=${folder_prompt:JBoss AS 4.2 installation directory}"/>
<listEntry value="jbosstools.test.jboss-as-3.2.home=${folder_prompt:JBoss AS 3.2 installation directory}"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/org.jboss.ide.eclipse.as.ui.bot.test/launchers/prepare_workspace}"/>
</launchConfiguration>
