<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<profiles>
		<profile>
			<id>auto.activated.settings</id>
		</profile>
		<profile>
			<id>profile.settings</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>auto.activated.settings</activeProfile>
	</activeProfiles>
</settings>
