<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

  <appender name="fileAppender" class="org.apache.log4j.FileAppender">
    <param name="File" value="tmp/debug.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

  <appender name="asyncAppender" class="org.apache.log4j.AsyncAppender">
  <!-- appender-ref ref="consoleAppender" / -->
    <appender-ref ref="fileAppender" />
  </appender>

  <category name="org.eclipse.swtbot">
    <priority value="ERROR" />
  </category>

  <category name="org.jboss.reddeer">
    <priority value="WARN" />
  </category>

  <category name="org.jboss.tools.drools">
    <priority value="TRACE" />
    <appender-ref ref="consoleAppender" />
  </category>

  <root>
    <priority value="TRACE" />
    <appender-ref ref="asyncAppender" />
  </root>

</log4j:configuration>