<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- 	<mirrors> -->
<!-- 		<mirror> -->
<!-- 			<id>jawa64-jboss-developer-mirror</id> -->
<!-- 			<url>http://jawa46.mw.lab.eng.brq.redhat.com:8081/nexus/content/repositories/test-jboss/</url> -->
<!-- 			<mirrorOf>jboss-public-repository-group,jboss-public-repository-group-plugin</mirrorOf> -->
<!-- 		</mirror> -->
<!-- 		<mirror> -->
<!-- 			<id>jawa64-eap-mirror</id> -->
<!-- 			<url>http://jawa46.mw.lab.eng.brq.redhat.com:8081/nexus/content/repositories/test/</url> -->
<!-- 			<mirrorOf>jboss-eap,jboss-eap-maven-plugin-repository</mirrorOf> -->
<!-- 		</mirror> -->
<!-- 		<mirror> -->
<!-- 			<id>central-mirror</id> -->
<!-- 			<url>http://jawa46.mw.lab.eng.brq.redhat.com:8081/nexus/content/repositories/central/</url> -->
<!-- 			<mirrorOf>central</mirrorOf> -->
<!-- 		</mirror> -->
<!-- 	</mirrors> -->

	<localRepository>${project.build.directory}/repository</localRepository>

	<profiles>

		<!-- Configure the JBoss EAP Maven repository -->
		<!-- this is recommend additional repository which comes with JBoss EAP 
			6 -->
		<profile>
			<id>jboss-public-repository</id>
			<repositories>
				<repository>
					<id>jboss-public-repository-group</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://repository.jboss.org/nexus/content/groups/developer/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-public-repository-group-plugin</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://repository.jboss.org/nexus/content/groups/developer/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>jboss-eap-maven-online-repository</id>
			<repositories>
				<repository>
					<id>jboss-eap</id>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-eap-maven-plugin-repository</id>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>jboss-public-repository</activeProfile>
		<activeProfile>jboss-eap-maven-online-repository</activeProfile>
	</activeProfiles>

</settings>