<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="validate"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="wildfly-8.2=${folder_prompt:WildFly 8.2 installation folder}"/>
<listEntry value="wildfly-8.1=${folder_prompt:WildFly 8.1 installation folder}"/>
<listEntry value="wildfly-8.0=${folder_prompt:WildFly 8.0 installation folder}"/>
<listEntry value="jboss-as-7=${folder_prompt:JBoss AS 7 installation folder}"/>
<listEntry value="jboss-eap-6.4=${folder_prompt:EAP 6.4 installation folder}"/>
<listEntry value="jboss-eap-6.3.x=${folder_prompt:EAP 6.3.x installation folder}"/>
<listEntry value="jboss-eap-6.3=${folder_prompt:EAP 6.3 installation folder}"/>
<listEntry value="jboss-eap-6.2.x=${folder_prompt:EAP 6.2.x installation folder}"/>
<listEntry value="jboss-eap-6.2=${folder_prompt:EAP 6.2 installation folder}"/>
<listEntry value="jboss-eap-6.1.x=${folder_prompt:EAP 6.1.x installation folder}"/>
<listEntry value="jboss-eap-6.1=${folder_prompt:EAP 6.1 installation folder}"/>
<listEntry value="jboss-eap-6.0.x=${folder_prompt:EAP 6.0.x installation folder}"/>
<listEntry value="jboss-eap-6.0=${folder_prompt:EAP 6.0 installation folder}"/>
<listEntry value="jboss-eap-5.2=${folder_prompt:EAP 5.2 installation folder}"/>
<listEntry value="jboss-eap-5.1=${folder_prompt:EAP 5.1 installation folder}"/>
<listEntry value="jboss-eap-4.3=${folder_prompt:EAP 4.3 installation folder}"/>
<listEntry value="jboss-jpp-6.1.x=${folder_prompt:JPP 6.1.x installation folder}"/>
<listEntry value="jboss-jpp-6.1=${folder_prompt:JPP 6.1 installation folder}"/>
<listEntry value="jboss-jpp-6.0=${folder_prompt:JPP 6.0 installation folder}"/>
<listEntry value="jboss-epp-5.2=${folder_prompt:EPP 5.2 installation folder}"/>
<listEntry value="jboss-epp-4.3=${folder_prompt:EPP 4.3 installation folder}"/>
<listEntry value="jboss-ewp-5.2=${folder_prompt:EWP 5.2 installation folder}"/>
<listEntry value="jboss-soa-p-5.2=${folder_prompt:SOA-P 5.2 installation folder}"/>
<listEntry value="jboss-soa-p-standalone-5.2=${folder_prompt:SOA-P-STANDALONE 5.2 installation folder}"/>
<listEntry value="jboss-soa-p-5.3=${folder_prompt:SOA-P 5.3 installation folder}"/>
<listEntry value="jboss-soa-p-standalone-5.3=${folder_prompt:SOA-P-STANDALONE 5.3 installation folder}"/>
<listEntry value="jboss-seam-2.3.x=${folder_prompt:Seam 2.3.x installation folder}"/>
<listEntry value="jboss-seam-2.2.2=${folder_prompt:Seam 2.2.2 installation folder}"/>
<listEntry value="jboss-fsw-6.0=${folder_prompt:FSW 6.0.0.GA installation folder}"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<intAttribute key="M2_THREADS" value="1"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<stringAttribute key="M2_USER_SETTINGS" value=""/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:org.jboss.tools.runtime.as.ui.bot.test}/launchers/prepare_workspace"/>
</launchConfiguration>
