screenshots
projects/simple-jar/.project
projects/simple-jar1/.project
projects/simple-jar1/.classpath
projects/simple-jar1/.settings/*
projects/simple-jar2/.project
projects/simple-jar2/.classpath
projects/simple-jar2/.settings/*
